<section class="landing">
  <img class="landing" src="/images/landing.png" />
</section>

<section class="abt">
  <div class="abt-container">
    <div class="abt-txt">
      <h1 class="side-h">About Us</h1>
      BlackBerry was known for its enterprise-focused solutions, and they could
      continue to develop and improve software and services for businesses. This
      could include secure communication platforms, mobile device management
      (MDM) solutions, and secure file sharing, helping companies protect their
      sensitive information. BlackBerry could invest in advanced threat
      detection and prevention systems to safeguard mobile devices from evolving
      cyber threats. Reinvented. Reimagined. Introducing the new and improved
      BlackBerry range of products by a wholly new and improved BlackBerry TM.
      With a Morbes listing of "Top 100 companies of 2022" and The Limes Group's
      "Limes Award For Entrepreneurship and Innovation in Technology 2022", we
      are here to completely wipe the floor and revolutuonize the field of
      technology. Ready to join us? #itsberryintime
    </div>
    <img class="abt-img" src="/images/logo.png" />
  </div>
</section>
