<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/maaas.ico" />
    <link rel="stylesheet" type="text/css" href="../styles/global.css" />
    <link rel="stylesheet" type="text/css" href="../styles/reglog.css" />
    <link rel="stylesheet" type="text/css" href="../styles/nav.css" />
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
    <link rel="stylesheet" type="text/css" href="../styles/products.css" />
    <link rel="stylesheet" type="text/css" href="../styles/product.css" />
    <link rel="stylesheet" type="text/css" href="../styles/book.css" />
    <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,700&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;900&display=swap"
      rel="stylesheet"
    />
    <title>Blackberry</title>
  </head>
  <body>
    <%- include ("./partials/nav"); %> <%- body %> <%- include
    ("./partials/footer"); %>
  </body>
</html>
