<h1 class="main-h">Profile</h1>
<div class="reg-form">
  <div class="profile-field">Name: <%= user.name%></div>
  <div class="profile-field">Email: <%= user.email%></div>
  <div class="profile-field">Tickets Booked: <%= user.bookedtickets%></div>
</div>
